{% load static %}

<!-- {% static 'styles/green.css' %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/blue.css' %}">
    <link id="theme-styled" type="text/css" rel="stylesheet" href="">
    
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Nate Tchamba</title>
</head>
<body>

    {% include "navbar.html" %}

    {% block content %}
      
    {% endblock content %}
    <script src="https://unpkg.com/typeit@8.7.0/dist/index.umd.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/name.js' %}"></script>
</body>
</html>