{% extends "main.html" %}

{% load static %}

{% block content %}

<section class="s1">
    <div class="main-container">
        <div class="greeting-wrapper">
            <h1>Hello, My name is Nate Tchamba</h1>
        </div>

        <div class="intro-wrapper">
            <div class="nav-wrapper">
                <div class="dots-wrapper">
                    <div id="dot-1" class="browser-dot"></div>
                    <div id="dot-2" class="browser-dot"></div>
                    <div id="dot-3" class="browser-dot"></div>
                </div>

                <ul id="navigation">
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <div class="left-column">
                <img id="profile_pic" src="{% static 'images/profile_pic.jpg' %}" height="300px" width="300px" alt="profile image">
                <h5>Personalize Theme</h5>
                
                <div id="theme-options-wrapper">
                    <div id="light-mode" class="theme-dot"></div>
                    <div id="blue-mode" class="theme-dot"></div>
                    <div id="green-mode" class="theme-dot"></div>
                    <div id="purple-mode" class="theme-dot"></div>
                </div>

                <p id="settings-note">*Theme settings will be saved for your <br> next visit</p>
            </div>

            <div class="right-column">
                <div id="preview-shadow">
                    <div id="preview">
                        <div id="corner-tl" class="corner"></div>
                        <div id="corner-tr" class="corner"></div>
                        <h3>What I do</h3>
                        <p>I'm a web developer with a diverse background.</p>
                        <div id="corner-bl" class="corner"></div>
                        <div id="corner-br" class="corner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="s2">
    <div class="main-container">

        <div class="about-wrapper">
            <div class="about-me">
                <h4>More about Me</h4>

                <p>Some of my strengths include connecting with people using clear communication, asking the right questions, and being
                efficient with time to make the most of a situation. </p>

                <p>I'm always excited to learn something new everyday even if it means
                picking it up quickly to be able to implement it right away.</p>

                <hr>

                <h4>My Expertise</h4>

                <p>Full-stack Developer</p>
                <p>Primary focus on Python/Django stack: <br> <a target="_blank" href="view-pdf/">Download Resume</a></p>

                <div id="skills">
                    <ul>
                        <li>Python</li>
                        <li>Django</li>
                        <li>Flask</li>
                        <li>Javascript</li>
                        <li>React</li>
                    </ul>

                    <ul>
                        <li>Postgres SQL</li>
                        <li>Object Oriented Programming</li>
                        <li>Tailwind</li>
                        <li>Bootstrap</li>
                        <li>HTML/CSS</li>
                    </ul>
                </div>
            </div>
            <div class="social-links">
                <h4>Social Media</h4>
                <img src="" alt="">
                    <div id="github">
                        <h3><a target="_blank" class="link1" href="https://github.com/nathanaeltchamba">Github</a></h3>
                        <i id="icon-1" class="fa-brands fa-github fa-3x"></i>
                    </div>

                    <div id="linkedin">
                        <h3><a target="_blank" class="link2" href="https://www.linkedin.com/in/nate-tchamba/">LinkedIn</a></h3>
                        <i id="icon-2" class="fa-brands fa-linkedin fa-3x"></i>
                    </div>

                    <div id="twitter">
                        <h3><a target="_blank" class="link3" href="https://twitter.com/deNate42">Twitter</a></h3>
                        <i id="icon-3" class="fa-brands fa-twitter fa-3x"></i>
                    </div>

            </div>
        </div>

    </div>
</section>

<section class="s1">
    <div class="main-container">
        <h3 style="text-align: center;">lets connect</h3>

        <form id="contact-form" action="">
            <label>Name</label>
            <input class="input-field" type="text" name="name">

            <label>Subject</label>
            <input class="input-field" type="text" name="subject">

            <label>Email</label>
            <input class="input-field" type="text" name="email">

            <label>Message</label>
            <textarea name="message" class="input-field"></textarea>

            <input id="submit-btn" type="submit" value="Send">
        </form>
    </div>
</section>



{% endblock content %}
